@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  color: theme('colors.black');
  background-color: theme('colors.white');
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

svg {
  fill: theme('colors.black');
  height: 30px;
  width: 30px;
}

.icon-fleche svg {
  height: 70px;
  width: 70px;
}

h1, h2 {
  font-family: theme('fontFamily.ubuntu');
}

.moitie {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.text-bas-haut {
  /* Texte aligné de bas vers haut */
  writing-mode: vertical-rl;
}